#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  border-radius: 10px;
  background-color: #1a1b21;
  max-width: 317px;
  overflow: hidden;
  min-width: 320px;
}

.content {
  padding: 30px;
}
